<a href="https://colab.research.google.com/github/theqasimkhan/Programming-For-AI-Lab/blob/main/Programming_For_AI_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **This is Lab 2 for Programming for AI and we have assigned different task where i can solve it one by one:**

*   Varriable
*   Type Casting
*


# **Task 1**


### **5 Different Example of Int Data Type**

```
Here we can use the variable and the int type numbers and assign it to some variable and then print it in a very simple way.

In [12]:
num1 = 10
num2 = -20
num3 = 1_000_000
result = 5 * 4
user_input = int(input("Enter an integer: "))

print(num1,num2,num3,result,)
print(type(num1))

print(num2)
print(type(num2))

print(num3)
print(type(num3))

print(result)
print(type(result))

print(user_input)
print(type(user_input))

10 -20 1000000 20

### **5 Different Example of Float Data Type**

```
Here we can use the variable and the float type numbers and assign it to some variable and then print it in a very simple way.

```

In [7]:
num1 = 3.14
pi=3.14
num2 = -42.5
result = 10.0 / 3
user_input = float(input("Enter a float: "))

print(num1)
print(type(num1))

print(pi)
print(type(pi))

print(num2)
print(type(num2))

print(result)
print(type(result))

print(user_input)
print(type(user_input))

Enter a float: 2.11
3.14
<class 'float'>
3.14
<class 'float'>
-42.5
<class 'float'>
3.3333333333333335
<class 'float'>
2.11
<class 'float'>

### **5 Different Example of Complex Data Type**

```
Here we can use the variable and the complex type numbers and assign it to some variable and then print it in a very simple way.

2+3j

```
### **The 2 is real part and 3j is imaginary Part**

In [8]:
num1 = 2 + 3j
num2 = -4j
result = complex(1, -2)
user_input = complex(input("Enter a complex number (e.g., 2+3j): "))

print(num1)
print(type(num1))

print(num2)
print(type(num2))

print(result)
print(type(result))

print(user_input)
print(type(user_input))

Enter a complex number (e.g., 2+3j): 3+4j
(2+3j)
<class 'complex'>
(-0-4j)
<class 'complex'>
(1-2j)
<class 'complex'>
(3+4j)
<class 'complex'>


# **Task 2**

# Now We use Typecasting from Int to float and int to complex and float to int and float to complex and vice versa.

In [11]:
# Typecasting examples for integer
int_from_float = int(3.14)
int_from_string = int("42")
#int_from_complex = int(4 + 3j)

print(int_from_float, type(int_from_float))
print(int_from_string, type(int_from_string))
#print(int_from_complex, type(int_from_complex))

# Typecasting examples for float
float_from_int = float(10)
float_from_string = float("3.14")
#float_from_complex = float(4 + 3j)

print(float_from_int, type(float_from_int))
print(float_from_string, type(float_from_string))
#print(float_from_complex, type(float_from_complex))

# Typecasting examples for complex
complex_from_int = complex(5)
complex_from_float = complex(3.14)
complex_from_string = complex("2+3j")

print(complex_from_int, type(complex_from_int))
print(complex_from_float, type(complex_from_float))
print(complex_from_string, type(complex_from_string))

3 <class 'int'>
42 <class 'int'>
10.0 <class 'float'>
3.14 <class 'float'>
(5+0j) <class 'complex'>
(3.14+0j) <class 'complex'>
(2+3j) <class 'complex'>

# **Task 3**

# 3.	Assign multiple strings to single variable with your name, registration number, program, semester etc.

In [13]:
# Assigning multiple strings to a single variable
student_info = ("Qasim Khan ", "B22F0248AI051", "Bs-AI", "4th")

# Printing the variable
print(student_info)

('Qasim Khan ', 'B22F0248AI051', 'Bs-AI', '4th')

# **Task 4**

# 4.	Write Your country name and access the last 3 characters.

In [14]:
C="Pakistan"
print(C[5],C[6],C[7])

t a n

# **Task 5**

# 5.	Write code and observe using len () function it counts space or not.

In [15]:
string="My Name Is Qasim"
print(len(string))

16

# **Task 6**

# 6.	Write code to access the 2nd and 3rd character of your name using negative indexes.

In [17]:
name="Qasim"
print(name[-4:-2])

as

# **Task 7**

# 7.	Write python code in which you pass index number to format () function and arguments must be 4 and same code without indexes.

In [19]:
age = 21
p_age = "Qasim age is {}"
print(p_age.format(age),p_age[3:9])

age = 20
p_age = "hamza age is {}"
print(p_age.format(age),p_age[3:9])
age = 19
p_age = "Ahmed age is {}"
print(p_age.format(age),p_age[3:9])
age = 42
p_age = "Ali age is {}"

print(p_age.format(age),p_age[3:9])

Qasim age is 21 im age
hamza age is 20 za age
Ahmed age is 19 ed age
Ali age is 42  age i

# **Task 8**

# 8.	Take input from user and then display it like “John age is age.”

In [20]:

name = input("Enter your name: ")
age = input("Enter your age: ")


output = "{}'s age is {}.".format(name, age)
print(output)

Enter your name: Qasim khan
Enter your age: 21
Qasim khan's age is 21.