<a href="https://colab.research.google.com/github/theqasimkhan/Programming-For-AI-Lab/blob/main/Programming_for_AI_Lab_Report_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.	Access List Items:
## •	Create a list of fruits.
## •	Print the first and last items of the list.

In [16]:
# 1. Access List Items
fruits = ["apple", "peach", "watermelon", "grape", "kiwi"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: apple
Last item: kiwi

# 2.	Change List Items:
## •	Create a list of colors.
## •	Change the second item in the list to "blue".

In [17]:
# 2. Change List Items
colors = ["red", "black", "blue"]
colors[1] = "blue"
print("Updated colors:", colors)

Updated colors: ['red', 'blue', 'blue']

# 3.	Add List Items:
## •	Create a list of numbers.
## •	Add the number 10 at the end of the list.

In [18]:
# 3. Add List Items
numbers = [3,4,5,6,7,8]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [3, 4, 5, 6, 7, 8, 10]

# 4.	Remove List Items:
## •	Create a list of animals.
## •	Remove the third item from the list.

In [19]:
# 4. Remove List Items
animals = ["Cat", "elephant", "Tiger", "Dog"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['Cat', 'elephant', 'Dog']

# 5.	Loop Lists:
## •	Create a list of cities.
## •	Loop through the list and print each city.

In [20]:
# 5. Loop Lists
cities = ["New York", "Melbourne", "Berlin", "Paris"]
for city in cities:
    print(city)

New York
Melbourne
Berlin
Paris

# 6.	List Comprehension:
## •	Create a list of numbers from 1 to 10.
## •	Use list comprehension to create a new list containing the square of each number.

In [7]:
# 6. List Comprehension
numbers = [i for i in range(1, 11)]
squared_numbers = [x**2 for x in numbers]
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 7.	Sort Lists:
## •	Create a list of names.
## •	Sort the list alphabetically.

In [21]:
# 7. Sort Lists
names = ["Qasim", "Khan", "Hamza", "Rashid"]
names.sort()
print("Sorted names:", names)

Sorted names: ['Hamza', 'Khan', 'Qasim', 'Rashid']

# 8.	Copy Lists:
## •	Create a list of fruits.
## •	Copy the list into a new list.

In [9]:
# 8. Copy Lists
fruits = ["apple", "banana", "orange"]
fruits_copy = fruits.copy()
print("Copied list:", fruits_copy)

Copied list: ['apple', 'banana', 'orange']

# 9.	Join Lists:
## •	Create two lists of numbers.
## •	Join the two lists into a single list.

In [22]:
# 9. Join Lists
list1 = [3,4,5]
list2 = [6,7,8]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [3, 4, 5, 6, 7, 8]

# 10.	List Methods:
## •	Create a list of fruits.
## •	Use the append() method to add a new fruit to the list.
## •	Use the pop() method to remove the last fruit from the list.

In [24]:
# 10. List Methods
fruits = ["Banana", "peach", "watermelon"]
fruits.append("grape")
print("Updated fruits:", fruits)
last_fruit = fruits.pop()
print("Removed fruit:", last_fruit)

Updated fruits: ['Banana', 'peach', 'watermelon', 'grape']
Removed fruit: grape

# 11.	Combining Lists and List Comprehension:

## •	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
## •	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [12]:
# 11. Combining Lists and List Comprehension
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print("Sum list:", sum_list)

Sum list: [7, 9, 11, 13, 15]

# 12.	Filtering and Sorting:
## Create a list of numbers.
## •	Use list comprehension to create a new list containing only the even numbers from the original list.
## •	Sort the new list in descending order.

In [25]:
# 12. Filtering and Sorting
numbers = [23, 12, 35, 56, 75, 33, 88]
even_numbers = [x for x in numbers if x % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers:", even_numbers)

Sorted even numbers: [88, 56, 12]

# 13.	List Slicing and Reversing:
## •	Create a list of numbers from 1 to 10.
## •	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [14]:

# 13. List Slicing and Reversing
numbers = list(range(1, 11))
even_numbers_reverse = numbers[1::2][::-1]
print("Even numbers in reverse:", even_numbers_reverse)

Even numbers in reverse: [10, 8, 6, 4, 2]

# 14.	Combining Lists and List Methods:
## •	Create two lists, one containing even numbers and another containing odd numbers.
## •	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [15]:
# 14. Combining Lists and List Methods
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

Combined list: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]